@import './latte.css';

window#waybar {
  font-family: monospace;
  font-size: 1rem;
  background-color: @mantle;
  border-radius: 0px;
  color: @overlay0;
}

#tray {
  margin-left: 12px;
}

#clock {
  margin-right: 12px;
}

button {
  border: none;
  border-radius: 0;
}
button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#taskbar button {
  padding: 0 6px;
  color: @overlay0;
  background-color: transparent;
  border: none;
}

#taskbar button.active {
  color: @mauve;
  font-weight: 900;
}
