@import "oxocarbon.css";

window#waybar {
  background-color: @mantle;
  border-radius: 0px;
  color: @overlay0;
}

#tray {
  margin-left: 16px;
}

#clock {
  margin-right: 16px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces button {
  padding: 0 6px;
  color: @overlay0;
  background-color: transparent;
  border: none;
}

#workspaces button.focused {
  color: @mauve;
  font-weight: 900;
  background-color: @mantle;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
