@import "mocha.css";

window#waybar {
  background-color: alpha(@mantle, 1);
  border-radius: 0px;
  color: @overlay2;
}

#taskbar {
  margin-top: 10px; /* 16 - 6px of button */
}

#taskbar button {
  padding: 0px 8px;
  padding-top: 8px;
  border: none;
  border-radius: 0;
  transition: none;
}

#taskbar button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#taskbar button.active {
  box-shadow: inset -1px 0px 0px @mauve;
  background: @surface0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#clock {
  margin-bottom: 16px;
  font-weight: bold;
}
