@import "mocha.css";

window#waybar {
  background-color: transparent;
  color: @overlay2;
}

window#waybar > * {
  margin-right: 8px;
}

#tray {
  padding: 8px;
  margin-bottom: 8px;
  background-color: @mantle;
  border-radius: 9999px;
  border: 1px solid @surface2;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

box.modules-right {
  background-color: @mantle;
  border-radius: 9999px;
  border: 1px solid @surface2;
}

#wireplumber {
  margin-top: 8px;
}

#clock {
  margin-bottom: 8px;
  font-weight: bold;
}
