for_window [app_id="mpv"] floating enable 
for_window [app_id="mpv"] resize set height 540
for_window [app_id="mpv"] resize set width 960
for_window [app_id="nemo"] floating enable 

# vim:ft=swayconfig
