@import "./mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 9pt;
  font-weight: 500;
}

window#waybar {
  background-color: @base;
  color: @text;
  border-bottom: 1px solid @surface1;
}

tooltip {
  background-color: @crust;
  border-radius: 12px;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 4px 0 8px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 2px;
  /* it should be 12px, why 2px? */
  /* b/c the rightest element has the margin-right of 10px. */
}

#mode,
#workspaces,
#tray,
#mpd,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery,
#clock {
  padding-top: 2px;
  padding-bottom: 2px;
  background: @surface0;
  color: @text;
}

#mode,
#workspaces,
#tray,
#mpd,
#pulseaudio,
#cpu,
#battery,
#clock {
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#memory {
  padding-right: 10px;
}

#mode,
#workspaces,
#tray,
#mpd,
#backlight,
#temperature,
#battery,
#clock {
  padding-right: 10px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-right: 10px;
}

#mode {
  background-color: @surface0;
  border-color: @pink;
  color: @pink;
  font-weight: 900;
}

#workspaces {
  padding: 0 8px;
}
#workspaces button {
  all: unset;
  padding: 0 2px;
  color: @subtext0;
  border-radius: 16px;
}
#workspaces button.focused {
  color: @rosewater;
}
#workspaces button.urgent {
  color: @peach;
}
#workspaces button:hover {
  background-color: @surface0;
}
#workspaces button.focused:hover {
  background-color: alpha(@rosewater, 0.08);
}
#workspaces button.urgent:hover {
  background-color: alpha(@peach, 0.08);
}

#window {
  padding-right: 10px;
}

#mpd.paused,
#mpd.stopped {
  color: @subtext1;
  font-style: italic;
}

#pulseaudio {
  color: @sapphire;
}
#backlight {
  color: @rosewater;
}

#cpu {
  color: @maroon;
}
#memory {
  color: @sky;
}
#temperature {
  color: @pink;
}

#battery {
  border-color: @blue;
  color: @blue;
}
#battery.plugged {
  background-color: @surface0;
  color: @green;
  font-weight: 900;
}
#battery.warning:not(.plugged),
#battery.critical:not(.plugged) {
  background-color: @surface0;
  color: @red;
  font-weight: 900;
}
