@import "./mocha.css";

* { 
  border: none;
  border-radius: 4px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 9pt;
  min-height: 0;
}

window#waybar {
  background: @base;
  border-bottom: 3px solid @surface1;
  color: @text;
  border-radius: 0;
}

#workspaces button {
  all: unset;
  padding: 0 0.7em;
  background-color: transparent;
  color: @text;
  box-shadow: inset 0 -3px transparent;
  border-radius: 4px;
}

#workspaces button:hover {
  box-shadow: inset 0 -3px currentColor;
}

#workspaces button.focused {
  background-color: @surface0;
  box-shadow: inset 0 -3px currentColor;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#mode {
  background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#custom-notification,
#sway-scratchpad,
#mpd {
  padding: 0 10px;
  margin: 6px 3px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @red;
  color: #282a36;
}

#battery {
  background-color: #44475a;
  color: #f8f8f2;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: @yellow;
  color: #282a36;
}

#memory {
  background-color: @yellow;
  color: #282a36;
}

#backlight {
  background-color: @rosewater;
  color: @base;
}

#network {
  background-color: @blue;
  color: @base;
}

#network.disconnected {
  background-color: @red;
  color: @base;
}

#pulseaudio {
  background-color: @mauve;
  color: @base;
}

#pulseaudio.muted {
  background-color: @surface0;
  color: @text;
}

#temperature {
  background-color: @mauve;
  color: @base;
}

#temperature.critical {
  background-color: @red;
  color: @base;
}

#tray {
  background-color: @surface0;
}

#mpd {
  background-color: @green;
  color: @base;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: @surface0;
  color: @text;
}

#mpd.paused {
  background-color: @surface0;
  color: @text;
}

#disk {
  background-color: @green;
  color: @base;
}

#sway-scratchpad {
  background-color: @surface0;
  color: @text;
}
