@import "./mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11pt;
  font-weight: 500;
}

window#waybar {
  background-color: @crust;
  color: @text;
  border-bottom: 2px solid @surface1;
}

tooltip {
  background-color: @crust;
  border-radius: 12px;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 5px 0 8px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 2px;
  /* it should be 12px, why 2px? */
  /* b/c the rightest element has the margin-right of 10px. */
}

#mode,
#tray,
#mpd,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery {
  padding: 2px 10px;
  border-left: 2px solid @surface1;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  background: @base;
  color: @text;
}

#mode {
  background-color: @surface0;
  border-color: @pink;
  color: @pink;
  font-weight: 900;
}

#workspaces {
  padding: 0;
  background-color: @base;
  border-radius: 9999px;
}
#workspaces button {
  all: unset;
  padding: 0 8px;
  color: @subtext0;
  border-radius: 16px;
}
#workspaces button.focused {
  background-color: @rosewater;
  color: @base;
}
#workspaces button.urgent {
  background-color: @peach;
  color: @base;
}
#workspaces button:hover {
  background-color: @surface0;
}
#workspaces button.focused:hover {
  background-color: alpha(@rosewater, 0.84);
}
#workspaces button.urgent:hover {
  background-color: alpha(@peach, 0.84);
}

#window {
  padding: 0 10px;
}

#mpd.paused,
#mpd.stopped {
  color: @subtext1;
  font-style: italic;
}

#pulseaudio {
  border-color: @sapphire;
  color: @sapphire;
}
#backlight {
  border-color: @rosewater;
  color: @rosewater;
}

#cpu {
  border-color: @maroon;
  color: @maroon;
}
#memory {
  border-color: @sky;
  color: @sky;
}
#temperature {
  border-color: @pink;
  color: @pink;
}

#battery {
  border-color: @blue;
  color: @blue;
}
#battery.plugged {
  background-color: @surface0;
  border-color: @green;
  color: @green;
  font-weight: 900;
}
#battery.warning:not(.plugged),
#battery.critical:not(.plugged) {
  background-color: @surface0;
  border-color: @red;
  color: @red;
  font-weight: 900;
}
