@import "./mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11pt;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

tooltip {
  background-color: @surface1;
  border-radius: 12px;
}

#custom-divider,
/* /// */
#mode,
#workspaces,
#window,
/* /// */
#mpd,
/* /// */
#tray,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#clock {
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: @crust;
}

/* left element */
#mode {
  padding-left: 16px;
  padding-right: 16px;
}
/* right element */
#clock {
  padding-left: 6px;
  padding-right: 16px;
}
/* left border elements */
#mpd,
#tray {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 12px;
  margin-left: 6px;
}
/* right border elements */
#window,
#mpd {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-right: 12px;
  margin-right: 6px;
}
/* middle elements */
#custom-divider,
#workspaces,
#network,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery {
  padding-left: 6px;
  padding-right: 6px;
}

/* special settings */

#mode {
  background-color: @green;
  color: @base;
}

#workspaces button {
  padding: 0;
  color: @subtext0;
  border-radius: 12px;
}
#workspaces button.active,
#workspaces button.focused {
  color: @rosewater;
}
#workspaces button.urgent {
  color: @peach;
}
#workspaces button:hover {
  color: @mauve;
}

#tray {
  padding-right: 12px;
}

#network {
  color: @lavender;
}
#pulseaudio {
  color: @sapphire;
}
#backlight {
  color: @teal;
}

#cpu {
  color: @yellow;
}
#memory {
  color: @maroon;
}
#temperature {
  color: @mauve;
}

#battery {
  color: @flamingo;
}
#battery.charging {
  background-color: @green;
  color: @base;
}
#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
}
