@import "mocha.css";

window {
  background-color: transparent;
}

.box_layout {
  background-color: @surface1;
  border-radius: 24px;
  border: 1px solid @surface2;
  margin: 16px;
}

scale {
  margin: 0px;
  padding: 0px;
}
label {
  color: @subtext0;
}

scale {
  padding: 0px;
}
scale trough {
  background-color: @overlay0;
  padding: 0px;
}
scale highlight {
  background-color: @blue;
  margin: 0px;
}
scale slider {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

/* Horizontal layout */
scale.horizontal,
scale.horizontal trough,
scale.horizontal highlight,
scale.horizontal slider {
  border-radius: 9999px;
  min-height: 5px;
}

/* Vertical layout */
scale.vertical,
scale.vertical trough,
scale.vertical highlight,
scale.vertical slider {
  border-radius: 9999px;
  min-width: 5px;
}
