/* Adjust spacer when window is floating */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 0 !important;
}
.toolbar-items {
  padding-inline: 5px !important;
}

/* Smaller tab */
#TabsToolbar,
#tabbrowser-tabs {
  --tab-min-height: 30px !important;
}

/* Allow longer bookmark item */
toolbarbutton.bookmark-item:not(.subviewbutton) {
  max-width: 18em !important;
}

/* Remove blue outline */
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
  outline: none !important;
}
