Config(
  x: Fraction(0.5),
  y: Absolute(40),
  width: Absolute(400),
  height: Absolute(0),
  hide_icons: true,
  ignore_exclusive_zones: true,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: false,
  show_results_immediately: true,
  max_entries: None,
  plugins: [
    "libapplications.so",
    "librink.so",
    "libsymbols.so",
    "libtranslate.so",
    "libwebsearch.so",
  ],
)
