window#window {
  background-color: transparent;
}

box#main {
  padding: 8px;
  border: 1px solid @borders;
  border-radius: 16px;
  background-color: @theme_base_color;

  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 3px 3px 0 rgba(0, 0, 0, 0.18),
    0 3px 6px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px rgba(255, 255, 255, 0.1);
}


entry#entry {
  border-radius: 10px;
  box-shadow: none;
}

list#main {
  background-color: transparent;
}

list#main > row       { padding: 0 }
list#main > row:hover { box-shadow: none }

row#match {
  border-radius: 10px;
  padding: 6px 8px;
}
row#match:first-child {
  margin-top: 8px;
}

label#match-title {
  font-weight: bold;
}

label#match-desc {
  font-size: 10px;
  font-weight: bold;
  opacity: 0.8;
}
