#window {
  background-color: rgba(0, 0, 0, 0);
}

box#main {
  border-radius: 6px;
  background-color: @insensitive_base_color;

  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 3px 3px 0 rgba(0, 0, 0, 0.18),
    0 3px 6px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px rgba(255, 255, 255, 0.1);
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
}

label#match-desc {
  font-size: 10px;
}

label#plugin {
  font-size: 14px;
}
