[Desktop Entry]
Type=Application
Exec=hmcl
Icon=minecraft
Name=HMCL
Keywords=game
Categories=Game;
Comment=A Minecraft Launcher which is multi-functional, cross-platform and popular
