[Desktop Entry]
Type=Application
Exec=hmcl
Icon=minecraft
Terminal=false
Categories=Game;
Keywords=game

Name=HMCL
Comment=A Minecraft Launcher which is multi-functional, cross-platform and popular
